.menu {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_logo_1 {
    position: absolute;
    left: 10%;
    right: 77.51%;
    top: 10%;
    bottom: 97.55%;
    Width: 120px;
    Height: auto;
}

.menu_logo_2 {
    position: absolute;
    left: 20%;
    right: 83.07%;
    top: 20%;
    bottom: 95.58%;
    Width: 50px;
    Height: auto;
}

.menu_logo_3 {
    position: absolute;
    left: 9.5%;
    right: 83.07%;
    top: 30%;
    bottom: 95.58%;
    Width: 130px;
    Height: auto;
}

.menu_logo_4 {
    position: absolute;
    left: 18%;
    right: 83.07%;
    top: 41%;
    bottom: 95.58%;
    Width: 65px;
    Height: auto;
}

.menu_logo_5 {
    position: absolute;
    left: 20%;
    right: 83.07%;
    top: 53%;
    bottom: 95.58%;
    Width: 55px;
    Height: auto;
}

.menu_logo_6 {
    position: absolute;
    left: 20%;
    right: 83.07%;
    top: 67%;
    bottom: 95.58%;
    Width: 50px;
    Height: auto;
}

.menu_logo_7 {
    position: absolute;
    left: 21%;
    right: 83.07%;
    top: 79%;
    bottom: 95.58%;
    Width: 45px;
    Height: auto;
}

.menu_logo_8 {
    position: absolute;
    left: 22%;
    right: 83.07%;
    top: 90%;
    bottom: 95.58%;
    Width: 40px;
    Height: auto;
}

.menu_titre_1 {
    position: absolute;
    left: 50%;
    top: 13.5%;
    bottom: 98.29%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.menu_titre_2 {
    position: absolute;
    left: 50%;
    top: 22.5%;
    bottom: 98.29%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.menu_titre_3 {
    position: absolute;
    left: 50%;
    top: 33.5%;
    bottom: 98.29%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.menu_titre_4 {
    position: absolute;
    left: 50%;
    top: 43.5%;
    bottom: 98.29%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.menu_titre_5 {
    position: absolute;
    left: 50%;
    top: 55%;
    bottom: 98.29%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.menu_titre_6 {
    position: absolute;
    left: 50%;
    top: 69%;
    bottom: 98.29%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.menu_titre_7 {
    position: absolute;
    left: 50%;
    top: 80%;
    bottom: 98.29%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.menu_titre_8 {
    position: absolute;
    left: 50%;
    top: 91%;
    bottom: 98.29%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.menu ul {
        list-style-type: none;
}

.menu_titre_1::after {
    content: '';
    width: 400px;
    height: 1px;
    background: black;
    z-index: 10;
    display: block;
    position: absolute;
    top: 50px;
    left: -190px;
 }

 .menu_titre_2::after {
    content: '';
    width: 400px;
    height: 1px;
    background: black;
    z-index: 10;
    display: block;
    position: absolute;
    top: 60px;
    left: -190px;
 }

 .menu_titre_3::after {
    content: '';
    width: 400px;
    height: 1px;
    background: black;
    z-index: 10;
    display: block;
    position: absolute;
    top: 50px;
    left: -190px;
 }

 .menu_titre_4::after {
    content: '';
    width: 400px;
    height: 1px;
    background: black;
    z-index: 10;
    display: block;
    position: absolute;
    top: 60px;
    left: -190px;
 }

 .menu_titre_5::after {
    content: '';
    width: 400px;
    height: 1px;
    background: black;
    z-index: 10;
    display: block;
    position: absolute;
    top: 50px;
    left: -190px;
 }

 .menu_titre_6::after {
    content: '';
    width: 400px;
    height: 1px;
    background: black;
    z-index: 10;
    display: block;
    position: absolute;
    top: 50px;
    left: -190px;
 }

 .menu_titre_7::after {
    content: '';
    width: 400px;
    height: 1px;
    background: black;
    z-index: 10;
    display: block;
    position: absolute;
    top: 50px;
    left: -190px;
 }

 .menu_titre_8::after {
    content: '';
    width: 400px;
    height: 1px;
    background: black;
    z-index: 10;
    display: block;
    position: absolute;
    top: 50px;
    left: -190px;
 }