h1 {
    font-family: 'Alkalami';
    font-style: normal;
    font-weight: 400;
    font-size: 34.2266px;
    line-height: 100%;
}

h2 {
    font-family: 'Alkalami';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

h3 {
    font-family: 'Alkalami';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

h4 {
    font-family: 'Alkalami';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.logo {
    position: relative;
    display: block;
    margin-top: 81px;
    margin-left: auto;
    margin-right: auto;
	max-width: 85%;
	height: auto;
}

body {
    background-color: #FFFBE1;
}

.title-intro {
    display: block;
    margin-top: 163px;
    margin-left: 102px;
    z-index: 0;

}

.texte-intro {
    display: block;
    margin-top: 51px;
    margin-left: 20px;
    color: #FFFFFF;
    z-index: 0;
}

.texte-intro2 {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    color: #FFFFFF;
    z-index: 0;
}

.cercle-intro {    
    position: absolute;
    overflow-x:hidden;
    left: 7px;
    top: 345px;
    z-index: -2;
    max-width: 100%;
}

.rectangle-intro {
    width: 206px;
    height: 18px;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 10px;
    z-index: -1;
    max-width: 100%;
}

.temple-intro {
    position: absolute;
    overflow-x:hidden;
    width: 457px;
    height: 457px;
    left: -41px;
    top: 707px;
    z-index: -1;
}

.rectangle-blanc-intro {
    position: absolute;
    overflow-x:hidden;
    width: 457px;
    height: 457px;
    left: -5px;
    top: 990px;
    z-index: -1;
}

.fond-intro-beige {
    position: absolute;
    overflow-x:hidden;
    width: 457px;
    height: 457px;
    right: 20px;
    top: 1300px;
    z-index: -1;
}



.test {
    position: relative;
    width: auto;
}

.test::after { 
    content: url(../../public/img/Ellipse\ 2.svg);
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    top:-55px;
    
    z-index: -2;
}

.fc-container::after {
    content: url(../../public/img/temple-black\ 1.svg);
    z-index: -1;
    position: absolute;
    top: 722px;
    right: 38px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.sc-container::after {
    content: url(../../public/img/Rectangle\ 23.svg);
    position: absolute;
    z-index: 0;
    max-width: 100%;
    top: 1010px;
    overflow: hidden;
}

.tc-container::after {
    content: url(../../public/img/Vector\ 13.svg);
    position: absolute;
    z-index: 1;
    top: 1600px;
    width: 100%;
    overflow: hidden;
}

.body-mont-fuji-fr {
    background-color: #FFFBE1;
}

.h1-mf-fr {
    display: block;
    padding-top: 117px;
    text-align: center;
}

.rectangle-intro-mf-fr {
    width: 206px;
    height: 18px;
    background-color: white;
    position: absolute;
    left: 85px;
    top: 230px;
    z-index: -1;
    max-width: 100%;
}

.rectangle-intro-mf-fr::after {
    content: url(../../public/img/MONTAGNE\ ROUGE.svg);
    position: absolute;
    top:89px;
    overflow: hidden;
    left: -85px;
}

.t1-mf-fr {
    color: #FFFFFF;
    display: block;
    padding-top: 240px;
    padding-left: 25px;
}

.a1-mf-fr-p1 {
    color:#FFFFFF ;
    display: block;
    text-align: center;
    padding-left: 19px;
    padding-right: 21px;
    padding-top: 60px;
}

.a1-mf-fr-p2 {
    color:#FFFFFF ;
    display: block;
    text-align: center;
    padding-left: 19px;
    padding-right: 21px;
    padding-top: 30px;
}

.a1-mf-fr-p2::after {
    content: url(../../public/img/fond-blanc-mf.png);
    position: absolute;
    overflow: hidden;
    left: 0px;
    z-index: -1;
}

.t2-mf-fr {
    color: black;
    display: block;
    text-align: center;
    padding-top: 206px;
}

.a2-mf-fr-p1 {
    color: black;
    display: block;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 30px;
}

.a2-mf-fr-p2 {
    color: black;
    display: block;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 30px;
}

.img-a-mf-fr {
    width: 333px;
    height: 188px;
    display: block;
    margin-top: 63px;
    justify-content: center;
    border: 3px solid #000000;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.a2-mf-fr-p3 {
    display: block;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

}a3-mf-fr-p2

.a2-mf-fr-p3::after {
    content: url(../../public/img/temple-mf.svg);
    position: absolute;
    top: 2210px;
    left: 0px;
    z-index: -1;
    overflow: hidden;
}

.t3-mf-en {
    display: block;
    text-align: center;
    padding-top: 290px;
}

.a3-mf-fr-p1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
}

.a3-mf-fr-p2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

.body-tr-fr {
    background-color: #FFFFFF;
}

.h1-tr-fr {
    display: block;
    text-align: center;
    padding-top: 106px;
}

.h1-tr-fr::after {
    content: url(../../public/img/forme1-tr.svg);
    position: absolute;
    overflow: hidden;
    z-index: -1;
    left: 0px;
    top: 311px;
    z-index: -2;
}

.a1-tr-fr-p1 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 180px;
    color: #FFFFFF;
}

.img1-tr-fr {
    border: 3px solid #000000;
    border-radius: 20px;
    width: 333px;
    height: 188px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.a1-tr-fr-p2 {
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding-top: 15px;
}

.a1-tr-fr-p2::after {
    content: url(../../public/img/bulle-texte-tr.svg);
    position: absolute;
    overflow: hidden;
    z-index: -1;
    left: 0px;
    top: 970px;
}

.h2-tr-fr {
z-index: 2;
display: block;
padding-top: 70px;
padding-left: 20px;
}

.a2-tr-fr-p1 {
display: block;
padding-left: 20px;
padding-right: 20px;
}

.a2-tr-fr-p1::after {
    content: url(../../public/img/fond-rouge1-tr.svg);
    position: absolute;
    overflow: hidden;
    left: 0px;
    z-index: -2;
    top: 1300px;
}

.img2-tr-fr {
    position: absolute;
    left: 222px;
    top: 1490px;
    overflow-x: hidden;
}

.h3-tr-en::after {
    content: url(../../public/img/fond-noir-tr.svg);
    position: absolute;
    left: 0px;
    top: 1930px;
    z-index: -1;
}


.h3-tr-en {
color: #FFFFFF;
padding-top: 680px;
padding-left: 20px;
}

.a3-tr-fr-p1 {
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.a3-tr-fr-p2 {
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.img3-tr-fr {
    border: 3px solid #000000;
    border-radius: 20px;
    width: 333px;
    height: 188px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.a3-tr-fr-p2::after {
    content: url(../../public/img/rectangle-noir-tr.svg);
    position: absolute;
    left: 0px;
    z-index: -2;
}

.a4-tr-fr-p1::after {
    content: url(../../public/img/fond-beige-tr.svg);
    position: absolute;
    left: 0px;
    overflow: hidden;
    z-index: -1;
    top: 2500px;
}

.a4-tr-fr-p1{
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
}

.body-np {
    background-color: #000000;
}

.a1-np-h1::after {
    content: url(../../public/img/titre-nepal.svg);
    position: absolute;
    left: 10px;
    top: 200px;
}

.a1-np-h1 {
    color: black;
    display: block;
    padding-top: 410px;
    padding-left: 20px;
}

.a1-np-p1::after {
    content: url(../../public/img/nepal-fond-intro1.svg);
    position: absolute;
    left: -1px;
    top: 300px;
    z-index: -1;

}

.a2-np-h1::after {
    content: url(../../public/img/nepal-fond-intro2.svg);
    position: absolute;
    left: 0px;
    top: 450px;
    z-index: -1;
}

.rectangle-nepal {
    width: 375px;
    height: 660px;
    background-color: #FFFFFF;
    position: absolute;
    top: 500px;
    z-index: -1;
    overflow: hidden;
}

.a1-np-p1 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.a1-np-p2 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.a1-np-p3 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.a1-np-img {
    border: 3px solid #000000;
    border-radius: 20px;
    width: 333px;
    height: 188px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.a2-np-h1 {
    color: white;
    display: block;
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
}

.a2-np-p1 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
}

.a2-np-p2 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
}
.a2-np-p3 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
}

.a2-np-p3::after {
    content: url(../../public/img/fond-beige-nepal.svg);
    position: absolute;
    left: 0;
    z-index: -2;
}

.a2-np-p4 {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

video {
    max-width: 100%;
    width: 335px;
    height: 189px;
    border: 3px solid #000000;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.h1-or-fr {
    display: block;
    text-align: center;
    padding-top: 200px;
}

.img1-or {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000000;
    border-radius: 20px;
    width: 333px;
    height: 188px;
    margin-top: 120px;
}

.body-origine p {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.a1-or-p1 {
    padding-top: 100px;
}

.a2-or-h1 {
    padding-left: 20px;
    padding-right: 20px;
}

.a3-or-h1 {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    padding-top: 140px;
}

.h1-or-fr::after {
    content: url(../../public/img/fond-blanc-origine.svg);
    position: absolute;
    left: 0px;
    z-index: -1;
    top: 660px;
}

.a3-or-h1::after {
    content: url(../../public/img/fond-noir-origine.svg);
    position: absolute;
    left: 0px;
    top: 1290px;
    z-index: -1;
}

.a3-or-p1 {
    color: #FFFFFF;
}

.a3-or-p2 {
    color: #FFFFFF;
}

.a3-or-p3 {
    color: #FFFFFF;
}


.a3-or-p4 {
    color: #FFFFFF;
}

.a3-or-p5 {
    color: #FFFFFF;
}

.rectangle-origine {
    position: absolute;
    z-index: -1;
    width: 375px;
    height: 900px;
    top: 1700px;
    background-color: #000000;
}

.body-espoir {
    background-color: #000000;
}

.h1-esp {
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding-top: 119px;
}

.h1-esp::after {
    content: url(../../public/img/arbre-espoir.svg) ;
    position: absolute;
    left: 0;
}

.a1-esp-h1 {
    padding-left: 20px;
    padding-top: 500px;
}

.a1-esp-p1 {
    margin-left: 20px;
    margin-right: 20px;
}

.a1-esp-h1::after {
    content: url(../../public/img/fond-beige-espoir.svg);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 680px;
}

.img1-esp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 3px solid #000000;
    border-radius: 20px;    
}

.a2-esp-h1 {
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
}

.body-regret {
    background-color: #FFFFFF;
}

.h1-reg {
    text-align: center;
    padding-top: 120px;
}

.a1-reg-p1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}

.a1-reg-p1::after {
    content: url(../../public/img/fond-rouge-regret.svg);
    position: absolute;
    left: 0px;
    z-index: -1;
    top: 600px;
}

.a2-reg-h1 {
    color: #FFFFFF;
    padding-top: 190px;
    padding-left: 20px;
}

.a2-reg-p1 {
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.a2-reg-p2 {
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.img-reg {
    border: 3px solid #000000;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.a2-reg-p2::after{
    content: url(../../public/img/fond-beige-regret.svg);
    position: absolute;
    left: 0px;
    z-index: -1;
    top: 1100px;
}

.a3-reg-h1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
}

.a3-reg-h1-en {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.a3-reg-p1{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.a3-reg-p2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.a3-reg-p3{
    margin-left: 20px;
    margin-right: 20px;
}

.a3-reg-p4{
    margin-left: 20px;
    margin-right: 20px;
}

.body-filmo {
    background-color: #FFFFFF;
}

.img-filmo img {
    border: 3px solid #000000;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.img-filmo h3 {
    display: block;
    text-align: center;
}

.img-filmo h1 {
    display: block;
    text-align: center;
    padding-top: 30px;
}

.body-extrait {
    background-color: #FFFFFF;
}

.extrait img {
    border: 3px solid #000000;
    border-radius: 10px;
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.extrait h1 {
    text-align: center;
    padding-top: 30px;
}

.body-frise {
    background-color: #FFFFFF;
}

.frise h1 {
    text-align: center;
    padding-top: 40px;
}

.frise img {
    margin-left: 20px;
    margin-top: -25px;
}

.body-frise h3 {
    text-align: center;
    color: #E00014;
    background-color: #FFFFFF;
}

figcaption {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.everest {
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin-top: 150px;
}

.denali {
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin-left: 140px;
    margin-top: 60px;
}

.kilimanjaro {
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin-top: 60px;
}

.mont-blanc {
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin-left: 140px;
    margin-top: 60px;
}

.mont-fuji {
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin-top: 60px;
}

.everest::after {
    content: url(../../public/img/fond-frise.svg);
    position: absolute;
    top: 550px;
    left: 130px;
    z-index: -1;
}

.body-a-propos {
    background: #FFFFFF;
}

#avatar {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.desc p:first-child {
    text-align: center;
    margin-top: 20px;
}

.desc::after {
    content: url(../../public/img/fond-ap.svg);
    position: absolute;
    z-index: -1;
    top: 35px;
}

.desc p {
    text-align: center;
    margin-bottom: -10px;
    font-family: 'Alkalami';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.a1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
}

.insta {
    margin-top: 20px;
    margin-left: 20px
}

.titre-autre {
    text-align: center;
    padding-top: 70px;
}

.body-autre {
    background-color: #FFFFFF;
}

.projets p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 90px;
    margin-bottom: 40px;
}

.body-autre::after {
    content: url(../../public/img/fond-ap.svg);
    position: absolute;
    top: 60px;
    z-index: -1;
}

.body-autre h3 {
    margin-left: 20px;
    margin-bottom: -90px;
}


.body-autre h3:first-child {
    padding-top: 90px;
} 

.projets img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-contact {
    background-color: #FFFFFF;
}

.btn-contact{
    margin-left: 300px;
    margin-top: -40px;
}

.body-contact textarea{
    border: 1px solid #000000;
    border-radius: 10px;
    height: 5em;
    vertical-align: top;
    width: 335px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.body-contact label{
    font-family: 'Alkalami';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    margin-top: 90px;
}

.h1-contact {
    text-align: center;
    padding-top: 50px;
}

.body-contact form{
    margin-left:20px ;
    margin-right: 20px;
}