

.logo {
    position: relative;
    display: block;
    margin-top: 81px;
    margin-left: auto;
    margin-right: auto;
	max-width: 85%;
	height: auto;
}

body {
    background-color: #FFFBE1;
    overflow-: hidden;
}

.title-intro {
    display: block;
    margin-top: 163px;
    margin-left: 102px;
    font-family: 'Alkalami';
    font-style: normal;
    font-weight: 400;
    font-size: 34.2266px;
    line-height: 100%;
    z-index: 0;

}

.texte-intro {
    display: block;
    margin-top: 51px;
    margin-left: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    z-index: 0;
}

.texte-intro2 {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    z-index: 0;
}

.cercle-intro {    
    position: absolute;
    overflow-x:hidden;
    left: 7px;
    top: 345px;
    z-index: -2;
    max-width: 100%;
}

.rectangle-intro {
    width: 206px;
    height: 18px;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 10px;
    z-index: -1;
    max-width: 100%;
}

.temple-intro {
    position: absolute;
    overflow-x:hidden;
    width: 457px;
    height: 457px;
    left: -41px;
    top: 707px;
    z-index: -1;
}

.rectangle-blanc-intro {
    position: absolute;
    overflow-x:hidden;
    width: 457px;
    height: 457px;
    left: -5px;
    top: 990px;
    z-index: -1;
}

.fond-intro-beige {
    position: absolute;
    overflow-x:hidden;
    width: 457px;
    height: 457px;
    right: 20px;
    top: 1300px;
    z-index: -1;
}



.test {
    position: relative;
    width: auto;
}

.test::after { 
    content: url(../../public/img/Ellipse\ 2.svg);
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    top:-55px;
    
    z-index: -2;
}

.fc-container::after {
    content: url(../../public/img/temple-black\ 1.svg);
    z-index: -1;
    position: absolute;
    top: 722px;
    right: 38px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.sc-container::after {
    content: url(../../public/img/Rectangle\ 23.svg);
    position: absolute;
    z-index: 0;
    top: 1010px;
}

.tc-container::after {
    content: url(../../public/img/Vector\ 13.svg);
    position: absolute;
    z-index: 1;
    top: 1600px;
    
    width: 100%;
    overflow: hidden;
}